.html {
  margin: 0;
  padding: 0;
}

.markohero {
  width:fit-content;
  background-image: url("./images/bg-sch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.myphoto {
  max-width: 7rem;
  min-width: 4rem;  
  border-radius: 50%;
}

.webpagegrid {
  display: grid;
  /* min-width: 100%; */
  min-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}