.html {
  margin: 0;
  padding: 0;
}

.webpagegrid {
  display: grid;
  min-width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}

.resumegrid {
  display: grid;
  min-width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}

.markohero {
  background-image: url("./images/bg-sch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.myphoto {
  width: 160px;
  height: auto;
  border-radius: 50%;
}

@media screen and (max-width: 850px) {
  .myphoto {
    width: 120px;
  }
}

@media screen and (max-width: 450px) {
  .myphoto {
    width: 75px;
  }
}

