body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.projectgrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  background-color: rgb(19, 60, 79);
  justify-content: space-around;
  width: 80%;
  gap: 1em;
  border: 2px white solid;
}

.grid-item p {
  word-wrap: break-word; /* This property allows long words to be broken and wrap onto the next line */
  white-space: normal;
}

.markohero {
  background-image: url("./images/bg-sch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; /* Set text color to ensure readability */
}

.markoproject {
  background-image: url("./images/bg-pexels-johannes-plenio-1103970.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; 
  min-width: 100%;
  height: 100vh;
  margin: 0;  
	overflow-x: hidden;
	overflow-y: visible;  
}

.markoresume {
  background-image: url("./images/bg-pexels-johannes-plenio-1103970.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; 
  min-width: 100%;
  height: 100%;
  margin: 0;  
	overflow-x: hidden;
	overflow-y: visible;  
}

.maintopic {
  text-shadow: 1px 1px 2px black;
}

.shadowtopic {
  text-shadow: 1px 1px 2px black;
  text-decoration: underline;
}

.listyling {
  text-shadow: 1px 1px 2px black;
  color: white;
  font-size: 2em;
}

.hobbylist {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.navbutton {
  position: fixed;
  top: 1%; /* 1% test */
  left: 50%;
  transform: translateX(-50%); 
}

.myphoto {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

@media screen and (max-width: 850px) {
  .myphoto {
    width: 120px;
  }

  .hobbylist {
    /* width: 60%; */
  }

}

@media screen and (max-width: 450px) {
  .myphoto {
    width: 75px;
  }

  .hobbylist {
    /* width: 80%; */
  }

}

